html{
  font-size: 100px;
}
body{
  font-family: PingFangSC-Regular;
  font-size: .12rem;
  color: #333;
}
p{
  margin: 0;
  padding: 0;
}
input{
  border: none;
}
input:focus{
  border: none;
  outline: none;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: #333;
  text-decoration: none;
}
