@font-face {
  font-family: 'iconfont';  /* Project id 4022249 */
  src: url('//at.alicdn.com/t/c/font_4022249_w5mr27owo1j.woff2?t=1681979567811') format('woff2'),
       url('//at.alicdn.com/t/c/font_4022249_w5mr27owo1j.woff?t=1681979567811') format('woff'),
       url('//at.alicdn.com/t/c/font_4022249_w5mr27owo1j.ttf?t=1681979567811') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}